*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
  background-color: rgba(0,0,0,0.8);
}

/* Cabeçalho */
header{
    height: 100px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    margin-bottom: 70px;
}

.logo{
	font-family: 'Aclonica';
    display: inline;
	font-size: 25px;
}

.logo a h3{     
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    padding-top: 33px;
    padding-left: 25px;
    float: left;
}

.nav_bar{
	font-family: 'aclonica';
	font-size: 20px;
	float: right;
	list-style: none;
    padding: 15px;
    padding-top: 39px;
}

.nav_bar li{
	display: inline-block;
}

.nav_bar li a{
	padding: 15px;
    text-decoration: none;
    color: #fff;
}

.nav_bar li a:hover{
	background: #959191;
	color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	border-width: auto;
	transition: 0.5s;
}

/*Fim Cabeçalho*/

/* imgs zoom*/
.container{
    background-color: rgb(56, 55, 55);
    min-width: 60hv;
    
}
 
.products-container{
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline;
    display: flex;
}

.card{
    width: 100%;
    height: 31%;
    display: inline-block;
}

.card{
    transition: all 0.3s;
}

.card:hover{
    transition: 0.3s;
    transform: scale(1.1);

}

.imgs-produtos{
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}                                

#img-1{
    background-image: url(imgs/img1.jpg);
}

#img-2{
    background-image: url(imgs/img2.jpg);
}

#img-3{
    background-image: url(imgs/img3.jpg);
}

#img-4{
    background-image: url(imgs/img4.png);
}

#img-5{
    background-image: url(imgs/img5.png);
}

#img-6{
    background-image: url(imgs/img6.jpg);
}   
/* fim do conteiner de imagens zoom */    

 /*Lançamentos*/
.lancamentos{                             
    margin-top: 15px;
    height: 27px;
    margin-left: 55px;
    margin-right: 55px;
    background-color: blue;
    border-radius: 5%;
    margin-bottom: 30px;
}                                       

.lancamentos h2{
    color: white;
    text-align: center;
}
 /*Lançamentos Fim*/


/*Lista de Animes*/
.animes-list{
    height: 800px;
    margin-left: 12%;
    margin-right: 12%;

}

.animes{
    height: 740px;
    border-left: 1px solid red;
   
}
.lista{ 
    width: 160px;     /*170*/
    height: 240px;  /*270*/
    margin-left: 15px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}

.lista:hover{
    transition: all 0.3s;
    opacity: 0.5;
    box-shadow: 4px 4px 0px 0px rgba(240, 240, 240, 0.575);
}


/*Rodapé */
footer{
    margin-top: 40px;
    background-color: #3db36b;
    color: #fff;
    border-top: 3px solid #0f642f;
    text-align: center;
    padding: 50px;
}